.group-1,
.group-1 * {
  box-sizing: border-box;
}
.group-1 {
  height: 881px;
  position: relative;
}
.wrapper {
  width: 1918px;
  height: 878px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 3px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 808.57px;
}
.main {
  background: #ffffff;
  width: 1918px;
  height: 758.89px;
  position: absolute;
  left: 0px;
  top: 49.68px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 39.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.auto-pro-box {
  background: #d9d9d9;
  width: 633px;
  height: 478px;
  position: absolute;
  left: 0px;
  top: 7px;
}
.auto-pro-header {
  background: #282828;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 633px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 3px;
}
.auto-pro-main {
  background: #e6e6e6;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 633px;
  height: 455px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.close {
  width: 17px;
  height: 15px;
  position: absolute;
  left: 610px;
  top: 10px;
  object-fit: cover;
}
.automatic-program {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 27px;
  font-weight: 700;
  position: absolute;
  left: 5px;
  top: 0px;
  
}
.automatic {
  background: #c5c5c5;
  width: 158px;
  height: 30px;
  position: absolute;
  left: 1px;
  top: 31px;
}
.programmer {
  background: #c5c5c5;
  width: 158px;
  height: 30px;
  position: absolute;
  left: 159px;
  top: 31px;
}
.startconditions {
  background: #c5c5c5;
  width: 157px;
  height: 30px;
  position: absolute;
  left: 317px;
  top: 31px;
}
.batchdata {
  background: #c5c5c5;
  width: 158px;
  height: 30px;
  position: absolute;
  left: 474px;
  top: 31px;
}
.automatic2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 37px;
  top: 35px;
}
.programmer2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 185px;
  top: 35px;
}
.startconditions2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 330px;
  top: 35px;
}
.batch-data {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 506px;
  top: 35px;
}
.id-0 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 76px;
}
.id-1 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 112px;
}
.id-2 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 148px;
}
.id-3 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 184px;
}
.id-4 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 220px;
}
.id-5 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 256px;
}
.id-6 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 292px;
}
.id-7 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 328px;
}
.id-8 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 364px;
}
.id-9 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 400px;
}
.id-10 {
  background: #ffffff;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 436px;
}
.id-02 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 76px;
}
.id-12 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 112px;
}
.id-22 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 148px;
}
.id {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 184px;
}
.id2 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 220px;
}
.id3 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 256px;
}
.id4 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 292px;
}
.id5 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 328px;
}
.id6 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 364px;
}
.id7 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 400px;
}
.id8 {
  background: #ffffff;
  width: 423px;
  height: 30px;
  position: absolute;
  left: 191px;
  top: 436px;
}
.id-03 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 80px;
}
.id-13 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 116px;
}
.id-23 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 152px;
}
.id-32 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 188px;
}
.id-42 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 224px;
}
.id-52 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 260px;
}
.id-62 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 296px;
}
.id-72 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 332px;
}
.id-82 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 368px;
}
.id-92 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 404px;
}
.id-102 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 440px;
}
