.group-6,
.group-6 * {
  box-sizing: border-box;
}
.group-6 {
  height: 522px;
  position: relative;
}
.timer-main {
  background: #e6e6e6;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 637px;
  height: 470px;
  position: absolute;
  left: 0px;
  top: 52px;
}
.group-5 {
  width: 637px;
  height: 499px;
  position: static;
}
.timer-header {
  background: #282828;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 637px;
  height: 54px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.close {
  width: 19px;
  height: 30px;
  position: absolute;
  left: 603px;
  top: 11px;
  object-fit: cover;
}
.timer-text {
  color: #ffffff;
  text-align: left;

  font-size: 27px;
  font-weight: 700;
  position: absolute;
  left: 17px;
  top: 10px;
  width: 102px;
  height: 42px;
  
}
.description {
  background: #ffffff;
  width: 258px;
  height: 54px;
  position: absolute;
  left: 11px;
  top: 70px;
}
.set-point {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 281px;
  top: 70px;
}
.actual-value {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 455px;
  top: 70px;
}
.box-1 {
  background: #ffffff;
  width: 258px;
  height: 53px;
  position: absolute;
  left: 11px;
  top: 133px;
}
.box-1-point {
  background: #ffffff;
  width: 167px;
  height: 53px;
  position: absolute;
  left: 281px;
  top: 133px;
}
.box-1-val {
  background: #ffffff;
  width: 167px;
  height: 53px;
  position: absolute;
  left: 455px;
  top: 133px;
}
.box-2 {
  background: #ffffff;
  width: 258px;
  height: 54px;
  position: absolute;
  left: 11px;
  top: 195px;
}
.box-2-point {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 281px;
  top: 195px;
}
.box-2-val {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 455px;
  top: 195px;
}
.box-3 {
  background: #ffffff;
  width: 258px;
  height: 54px;
  position: absolute;
  left: 11px;
  top: 257px;
}
.box-3-point {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 281px;
  top: 257px;
}
.box-3-val {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 455px;
  top: 257px;
}
.box-6 {
  background: #ffffff;
  width: 258px;
  height: 54px;
  position: absolute;
  left: 11px;
  top: 319px;
}
.box-6-point {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 281px;
  top: 319px;
}
.box-6-val {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 455px;
  top: 319px;
}
.box-8 {
  background: #ffffff;
  width: 258px;
  height: 54px;
  position: absolute;
  left: 11px;
  top: 381px;
}
.box-8-point {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 281px;
  top: 381px;
}
.box-8-val {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 455px;
  top: 381px;
}
._1-1 {
  color: #000000;
  text-align: center;

  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 34px;
  top: 142px;
  width: 209px;
}
._1-2 {
  color: #000000;
  text-align: center;
 
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 204px;
  width: 224px;
}
._2-1 {
  color: #000000;
  text-align: center;

  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 269px;
  width: 231px;
}
._2-2 {
  color: #000000;
  text-align: center;

  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 329px;
  width: 246px;
}
._3-1 {
  color: #000000;
  text-align: center;
  
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 19px;
  top: 391px;
  width: 239px;
}
.box-82 {
  background: #ffffff;
  width: 258px;
  height: 54px;
  position: absolute;
  left: 11px;
  top: 445px;
}
.box-8-point2 {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 281px;
  top: 445px;
}
.box-8-val2 {
  background: #ffffff;
  width: 167px;
  height: 54px;
  position: absolute;
  left: 455px;
  top: 445px;
}
._3-2 {
  color: #000000;
  text-align: center;
  
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 455px;
  width: 254px;
}
.heater {
  color: #000000;
  text-align: center;

  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 14px;
  top: 81px;
  width: 252px;
  height: 36px;
}
.volltage {
  color: #000000;
  text-align: center;
  
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 281px;
  top: 82px;
  width: 166px;
  height: 36px;
}
.current {
  color: #000000;
  text-align: center;
  
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 460px;
  top: 81px;
  width: 153px;
  height: 36px;
}
