.group-3,
.group-3 * {
  box-sizing: border-box;
}
.group-3 {
  height: 759px;
  position: relative;
}
.group-1 {
  width: 1918px;
  height: 759px;
  position: static;
}
.wrapper {
  width: 1918px;
  height: 759px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 40.35px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 62.61px;
  position: absolute;
  left: 0px;
  top: 696.39px;
}
.main {
  background: #ffffff;
  width: 1918px;
  height: 656.04px;
  position: absolute;
  left: 0px;
  top: 40.35px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 22.96px;
  position: absolute;
  left: 13px;
  top: 31.31px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.group-2 {
  width: 1173px;
  height: 611px;
  position: static;
}
.press-box {
  background: #d9d9d9;
  width: 1173px;
  height: 611px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.press-header {
  background: #282828;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1173px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.press-main {
  background: #e6e6e6;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1173px;
  height: 567px;
  position: absolute;
  left: 0px;
  top: 44px;
}
.close {
  width: 33px;
  height: 24px;
  position: absolute;
  left: 1129px;
  top: 10px;
  object-fit: cover;
}
.press {
  color: #ffffff;
  text-align: left;

  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 4px;
  width: 93px;
  height: 37px;

}
.press-cap {
  background: #23e471;
  width: 358px;
  height: 33px;
  position: absolute;
  left: 20px;
  top: 65px;
}
.press-capacity {
  color: #000000;
  text-align: left;

  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 71px;
  width: 144px;
  height: 20px;
}
.press-cap-box-1 {
  background: #ffffff;
  width: 195px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 99px;
}
.auto {
  color: #000000;
  text-align: left;

  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 325px;
  top: 71px;
  width: 47px;
  height: 20px;
}
.wic-22-4-2-x {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 103px;
  width: 125px;
  height: 21px;
}
.press-cap-val-1 {
  background: #ffffff;
  width: 162px;
  height: 31px;
  position: absolute;
  left: 216px;
  top: 99px;
}
.press-cap-box-2 {
  background: #ffffff;
  width: 195px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 131px;
}
.wsp-22-4-2-x {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 136px;
  width: 130px;
  height: 21px;
}
.press-cap-val-2 {
  background: #ffffff;
  width: 162px;
  height: 32px;
  position: absolute;
  left: 216px;
  top: 131px;
}
.force-sensor {
  background: #23e471;
  width: 358px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 181px;
}
.force-sensor2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 188px;
  width: 127px;
  height: 20px;
}
.force-sensor-box-1 {
  background: #ffffff;
  width: 169px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 214px;
}
.wic-22-4-2-1 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 220px;
  width: 121px;
  height: 21px;
}
.force-sensor-val-1 {
  background: #ffffff;
  width: 187px;
  height: 31px;
  position: absolute;
  left: 191px;
  top: 214px;
}
.force-sensor-box-2 {
  background: #ffffff;
  width: 169px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 247px;
}
.wic-22-4-2-2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 253px;
  width: 125px;
  height: 20px;
}
.force-sensor-val-2 {
  background: #ffffff;
  width: 187px;
  height: 32px;
  position: absolute;
  left: 191px;
  top: 247px;
}
.force-sensor-box-3 {
  background: #ffffff;
  width: 169px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 280px;
}
.wic-22-4-2-3 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 285px;
  width: 125px;
  height: 22px;
}
.force-sensor-val-3 {
  background: #ffffff;
  width: 187px;
  height: 31px;
  position: absolute;
  left: 191px;
  top: 280px;
}
.force-sensor-box-4 {
  background: #ffffff;
  width: 169px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 313px;
}
.wic-22-4-2-4 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 317px;
  width: 127px;
  height: 23px;
}
.force-sensor-val-4 {
  background: #ffffff;
  width: 187px;
  height: 31px;
  position: absolute;
  left: 191px;
  top: 313px;
}
.force-sensor-box-5 {
  background: #ffffff;
  width: 169px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 345px;
}
.wic-22-4-2-5 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 349px;
  width: 125px;
  height: 23px;
}
.force-sensor-val-5 {
  background: #ffffff;
  width: 187px;
  height: 32px;
  position: absolute;
  left: 191px;
  top: 345px;
}
.force-sensor-box-6 {
  background: #ffffff;
  width: 169px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 378px;
}
.wic-22-4-2-6 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 383px;
  width: 125px;
  height: 22px;
}
.force-sensor-val-6 {
  background: #ffffff;
  width: 187px;
  height: 31px;
  position: absolute;
  left: 191px;
  top: 378px;
}
.force-sensor-box-7 {
  background: #ffffff;
  width: 169px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 411px;
}
.wic-22-4-2-7 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 416px;
  width: 125px;
  height: 21px;
}
.force-sensor-val-7 {
  background: #ffffff;
  width: 187px;
  height: 32px;
  position: absolute;
  left: 191px;
  top: 411px;
}
.force-sensor-box-8 {
  background: #ffffff;
  width: 169px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 444px;
}
.wic-22-4-2-8 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 448px;
  width: 125px;
  height: 23px;
}
.force-sensor-val-8 {
  background: #ffffff;
  width: 187px;
  height: 31px;
  position: absolute;
  left: 191px;
  top: 444px;
}
.tara {
  background: #23e471;
  width: 358px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 496px;
}
.tara-box-1 {
  background: #ffffff;
  width: 169px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 530px;
}
.tara2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 501px;
  width: 43px;
  height: 21px;
}
.tara-val-1 {
  background: #ffffff;
  width: 187px;
  height: 31px;
  position: absolute;
  left: 191px;
  top: 530px;
}
.tara-ok {
  background: #ffffff;
  width: 358px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 562px;
}
._5 {
  background: #e3e3e3;
  width: 16px;
  height: 28px;
  position: absolute;
  left: 359px;
  top: 563px;
}
.tara-ok2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 567px;
  width: 76px;
  height: 20px;
}
.position-1 {
  background: #23e471;
  width: 357px;
  height: 33px;
  position: absolute;
  left: 408px;
  top: 65px;
}
.auto2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 713px;
  top: 71px;
  width: 46px;
  height: 20px;
}
.position {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 71px;
  width: 78px;
  height: 20px;
}
.position-box-1 {
  background: #ffffff;
  width: 193px;
  height: 31px;
  position: absolute;
  left: 408px;
  top: 99px;
}
.gic-22-2-60-10 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 103px;
  width: 142px;
  height: 21px;
}
.position-val-1 {
  background: #ffffff;
  width: 162px;
  height: 31px;
  position: absolute;
  left: 603px;
  top: 99px;
}
.position-box-2 {
  background: #ffffff;
  width: 193px;
  height: 32px;
  position: absolute;
  left: 408px;
  top: 131px;
}
.gsp-22-2-60-10 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 136px;
  width: 148px;
  height: 21px;
}
.position-val-2 {
  background: #ffffff;
  width: 162px;
  height: 32px;
  position: absolute;
  left: 603px;
  top: 131px;
}
.position2 {
  background: #23e471;
  width: 357px;
  height: 32px;
  position: absolute;
  left: 408px;
  top: 181px;
}
.position3 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 188px;
  width: 78px;
  height: 20px;
}
.position-box-3 {
  background: #ffffff;
  width: 169px;
  height: 31px;
  position: absolute;
  left: 408px;
  top: 214px;
}
.gic-22-1-60-20 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 220px;
  width: 140px;
  height: 21px;
}
.position-val-3 {
  background: #ffffff;
  width: 185px;
  height: 31px;
  position: absolute;
  left: 580px;
  top: 214px;
}
.ref-point {
  background: #23e471;
  width: 357px;
  height: 31px;
  position: absolute;
  left: 408px;
  top: 263px;
}
.ref-point2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 267px;
  width: 156px;
  height: 21px;
}
.ref-point-box-1 {
  background: #ffffff;
  width: 169px;
  height: 31px;
  position: absolute;
  left: 408px;
  top: 295px;
}
.start {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 300px;
  width: 49px;
  height: 21px;
}
.ref-point-val-1 {
  background: #ffffff;
  width: 185px;
  height: 31px;
  position: absolute;
  left: 580px;
  top: 295px;
}
.ref-point-box-2 {
  background: #ffffff;
  width: 169px;
  height: 30px;
  position: absolute;
  left: 408px;
  top: 328px;
}
.actual {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 332px;
  width: 62px;
  height: 22px;
}
.ref-point-val-2 {
  background: #ffffff;
  width: 185px;
  height: 30px;
  position: absolute;
  left: 580px;
  top: 328px;
}
.mid-box-1 {
  background: #ffffff;
  width: 357px;
  height: 32px;
  position: absolute;
  left: 408px;
  top: 448px;
}
._1 {
  background: #e3e3e3;
  width: 16px;
  height: 29px;
  position: absolute;
  left: 748px;
  top: 450px;
}
.extrusion-die-in-upper-position {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 454px;
  width: 296px;
  height: 21px;
}
.mid-box-2 {
  background: #ffffff;
  width: 357px;
  height: 31px;
  position: absolute;
  left: 408px;
  top: 487px;
}
._2 {
  background: #e3e3e3;
  width: 16px;
  height: 29px;
  position: absolute;
  left: 748px;
  top: 488px;
}
.reference-point-latched {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 492px;
  width: 241px;
  height: 20px;
}
.mid-box-3 {
  background: #ffffff;
  width: 357px;
  height: 31px;
  position: absolute;
  left: 408px;
  top: 524px;
}
._3 {
  background: #e3e3e3;
  width: 16px;
  height: 28px;
  position: absolute;
  left: 748px;
  top: 525px;
}
.batch-reached {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 530px;
  width: 148px;
  height: 20px;
}
.mid-box-4 {
  background: #ffffff;
  width: 357px;
  height: 32px;
  position: absolute;
  left: 408px;
  top: 562px;
}
._4 {
  background: #e3e3e3;
  width: 16px;
  height: 28px;
  position: absolute;
  left: 748px;
  top: 563px;
}
.alternating-force-active {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 567px;
  width: 234px;
  height: 20px;
}
.pressure {
  background: #b0cafd;
  width: 358px;
  height: 33px;
  position: absolute;
  left: 795px;
  top: 65px;
}
.pressure-box-1 {
  background: #ffffff;
  width: 194px;
  height: 31px;
  position: absolute;
  left: 795px;
  top: 99px;
}
.hydraulic-oil-system-pressure {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 71px;
  width: 294px;
  height: 20px;
}
.pressure-val-1 {
  background: #ffffff;
  width: 162px;
  height: 31px;
  position: absolute;
  left: 991px;
  top: 99px;
}
.pi-22-1-51-1 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 103px;
  width: 153px;
  height: 21px;
}
.a-1 {
  background: #b0cafd;
  width: 358px;
  height: 31px;
  position: absolute;
  left: 795px;
  top: 148px;
}
.a-1-box-1 {
  background: #ffffff;
  width: 194px;
  height: 32px;
  position: absolute;
  left: 795px;
  top: 180px;
}
.hydraulic-pressure-cylinder-a-1 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 152px;
  width: 294px;
  height: 22px;
}
.a-1-val-1 {
  background: #ffffff;
  width: 162px;
  height: 32px;
  position: absolute;
  left: 991px;
  top: 180px;
}
.pi-22-1-51-2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 184px;
  width: 107px;
  height: 22px;
}
.a-2 {
  background: #b0cafd;
  width: 358px;
  height: 31px;
  position: absolute;
  left: 795px;
  top: 220px;
}
.a-2-box-1 {
  background: #ffffff;
  width: 194px;
  height: 30px;
  position: absolute;
  left: 795px;
  top: 253px;
}
.hydraulic-pressure-cylinder-a-2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 225px;
  width: 299px;
  height: 20px;
}
.a-2-val-1 {
  background: #ffffff;
  width: 162px;
  height: 30px;
  position: absolute;
  left: 991px;
  top: 253px;
}
.pi-22-1-51-3 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 257px;
  width: 107px;
  height: 22px;
}
.b-1 {
  background: #b0cafd;
  width: 358px;
  height: 30px;
  position: absolute;
  left: 795px;
  top: 294px;
}
.b-1-box-1 {
  background: #ffffff;
  width: 194px;
  height: 31px;
  position: absolute;
  left: 795px;
  top: 326px;
}
.hydraulic-pressure-cylinder-b-1 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 298px;
  width: 294px;
  height: 21px;
}
.b-1-val-1 {
  background: #ffffff;
  width: 162px;
  height: 31px;
  position: absolute;
  left: 991px;
  top: 326px;
}
.pi-22-1-51-4 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 331px;
  width: 108px;
  height: 22px;
}
.b-2 {
  background: #b0cafd;
  width: 358px;
  height: 31px;
  position: absolute;
  left: 795px;
  top: 367px;
}
.b-2-box-1 {
  background: #ffffff;
  width: 194px;
  height: 32px;
  position: absolute;
  left: 795px;
  top: 399px;
}
.hydraulic-pressure-cylinder-b-2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 372px;
  width: 299px;
  height: 21px;
}
.b-2-val-1 {
  background: #ffffff;
  width: 162px;
  height: 32px;
  position: absolute;
  left: 991px;
  top: 399px;
}
.pi-22-1-51-5 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 405px;
  width: 107px;
  height: 22px;
}
.tem {
  background: #fa8f8f;
  width: 358px;
  height: 31px;
  position: absolute;
  left: 795px;
  top: 454px;
}
.tem-box-1 {
  background: #ffffff;
  width: 194px;
  height: 31px;
  position: absolute;
  left: 795px;
  top: 487px;
}
.hydraulic-oil-temperature {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 459px;
  width: 253px;
  height: 21px;
}
.tem-val-1 {
  background: #ffffff;
  width: 162px;
  height: 31px;
  position: absolute;
  left: 991px;
  top: 487px;
}
.tis-22-1-5-1 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 492px;
  width: 107px;
  height: 20px;
}
.level {
  background: #23e471;
  width: 358px;
  height: 31px;
  position: absolute;
  left: 795px;
  top: 530px;
}
.level-box-1 {
  background: #ffffff;
  width: 194px;
  height: 32px;
  position: absolute;
  left: 795px;
  top: 562px;
}
.hydraulic-oil-fill-level {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 534px;
  width: 215px;
  height: 21px;
}
.level-val-1 {
  background: #ffffff;
  width: 162px;
  height: 32px;
  position: absolute;
  left: 991px;
  top: 562px;
}
.wis-22-1-5-1 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 801px;
  top: 567px;
  width: 113px;
  height: 20px;
}
